html,
body {
  height: 100%;
  color: #2a2b24;
  font: 1em normal 'Open Sans',sans-serif;
  color: #3e3f3a;
}

html {
    font-size: 20px;
}

body {
  font-size: 18px;
  line-height: 1.4;

  margin: 0;

  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

body,
button,
input,
select,
textarea {
  font: 1em/normal 'Open Sans', sans-serif;
}

a,
.link {
  cursor: pointer;
}

h1 {
  font-family: "Essays 1743",Palatino,"Palatino Linotype","Book Antiqua",Georgia,"Times New Roman",serif;
}
